.signin-container {
  /* margin-top: 6rem ; */
  width: 60%;

}

.signin-box {
  /* width: 100%; */
  height: auto;
  border-radius: 35px;
  border: 1px solid #FF5841;
  position: relative;
  padding: 1rem;
  text-align: left;
  margin-left: .2rem;
}


.signin-box h1 {
  margin: 0;
  padding-left: 4rem;
  margin-top: 3rem;
}

.signin-box p {
  margin: 0;
  font-size: 18px;
  padding-left: 4rem;
  margin-top: 1rem;
}

.btn-signIn {
  width: 75% !important;
  left: 4.5rem;
  height: 50px;
  padding: 19px, 0px, 20px, 0px;
  gap: 8px;
  background: linear-gradient(0deg, #62D2E9, #62D2E9);
  top: 1rem;
  border-radius: 50px !important;
  color: #FFFFFF;
}

.inputdiv {
  padding-left: 4rem;
}

.dont-have-accountin {
  margin-top: 3rem;
  font-size: 20px;
  margin-left: 15%;
  color: #000000;
  font-family: 'Outfit';
  font-weight: 500;
}

.signuplink {
  color: #62D2E9;
  font-size: 20px;
  text-decoration: none;
}

.signin-box .MuiButton-root {
  margin-top: 1rem;
  background-color: #FF5841;
  color: #fff;
}

.signin-box .MuiTypography-body2 a {
  text-decoration: none;
  color: rgb(112, 106, 106);

}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 1000px) {
  .signin-box {
    margin-bottom: 1rem;
  }
}

/* Small screens (sm) */
@media (max-width: 600px) {
  .signin-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    /* max-width: 30rem; */
    height: auto;
    border-radius: 35px;
    border: 1px solid #FF5841;
    position: relative;
    padding: 1rem;
  }

  .btn-signIn {

    max-width: 22rem;
    height: 50px;
    margin-top: 2rem;
    border-radius: 50px !important;

  }

  .signin-box {
    margin-bottom: 1rem;
  }

  .signin-box h1 {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    font-size: 3rem !important;
    margin-left: 3.5rem;
  }

  .email-input,
  .paswword-input {
    width: 100% !important;
  }

  .signin-box p {
    margin: 0;
    font-size: 16px;
    margin-top: 1rem;
  }

  .dont-have-accountin {
    margin-top: 2rem;
    font-size: 16px;
    margin-left: 4rem !important;

  }

  .signuplink {
    color: #62D2E9;
    font-size: 16px;
  }

  .or {
    margin: 0;
    font-size: 1rem;
    margin-top: 1rem;
    /* margin-left: 8rem !important; */
  }

  .gogleimgsignin {
    margin-top: 1rem;
    margin-left: -1rem;
  }

  .forgot-password {
    margin-right: 5.3rem !important;
    font-size: 13px !important;
  }
}

/* width 500px or less */
@media (max-width: 500px) {
  .signin-box {
    width: 90%;
    height: auto;
    border-radius: 35px;
    border: 1px solid #FF5841;
    position: relative;
    padding: 1rem;
  }

  .inputdiv {
    padding-left: 3rem;
  }

  .signin-box {
    margin-bottom: 1rem;
  }


  .signin-box h1 {
    margin: 0;
    padding-left: 3rem;
    margin-top: 3rem;
    font-size: 3rem !important;
  }

  .email-input,
  .paswword-input {
    width: 100% !important;
  }

  .signin-box p {
    margin: 0;
    font-size: 16px;
    padding-left: 3rem;
    margin-top: 1rem;
  }

  .dont-have-accountin {
    margin-top: 2.3rem;
    font-size: 16px;
    margin-left: 3rem !important;
  }

  .signuplink {
    color: #62D2E9;
    font-size: 16px;
  }

  .or {
    margin: 0;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 1rem !important;
  }

  .gogleimgsignin {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .forgot-password {
    margin-right: 5rem !important;
    font-size: 13px !important;
  }
}

@media (max-width: 431px) {
  .forgot-password {
    margin-right: 4rem !important;
    font-size: 13px !important;
  }
  /* .dont-have-accountin{
    margin-left: 20px !important;
  } */
.or{
  margin-right: 2rem !important;
}
  .gogglesignin {
    /* margin-top: 1rem !important; */
    margin-right: 2rem !important;

  }
.forgot-password{
  margin-right: 16% !important;
  }
  
  .btn-signIn {
    min-width: 15rem;
    left: 2.7rem;
    border-radius: 50px !important;
  }

  .inputdiv {
    padding-left: 2rem;
  }

  .dont-have-accountin {
    font-size: 16px;
    margin-left: 2rem !important;
  }

  .signin-box h1 {
    margin: 0;
    padding-left: 2rem;
    margin-top: 1.7rem;
    font-size: 3rem !important;
  }

  .signin-box p {
    margin: 0;
    font-size: 16px;
    padding-left: 2rem;
    margin-top: 1rem;
  }

  /* .signin-box{
margin-bottom: 1rem;
  } */
  .signin-container {
    margin-top: '0';
  }

}

.ScreenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

@media (max-width: 1024px) {
  .ScreenContainer {
    flex-direction: column;
  }

  .signin-container {
    margin-top: 5rem;
  }
  .signin-box{
    border-radius: 20px;
  }
}

.custom-ok-button-class {
  background-color: #F27474 !important;
}

@media (max-width: 391px) {
  .signin-container {
    margin-top: 1rem;
    margin-bottom: 0;
  }
.forgot-password{
margin-right: 16% !important;
}
.btn-signIn{
  width: 76% !important;
}
.dont-have-accountin{
  margin-left: 1rem !important;
  font-size: 12px !important;
}
.gogleimgsignin{
  margin-left: .2rem;
}
}
/* @media (max-width: 461px) {
  .btn-signIn {
    left: 3rem;
    border-radius: 50px !important;
  }
  .forgot-password{
    margin-right: 15% !important;
    }
    
}
@media (max-width: 517px) {
  .forgot-password{
    margin-right: 14% !important;
    }
    .btn-signIn {
      left: 3.3rem;
      border-radius: 50px !important;
    }
  
} */