body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.signup-container {
  /* margin-top: 2rem; */
  width: 90%;
}

.signup-box {
  width: 90%;
  height: auto;
  border-radius: 35px;
  border: 1px solid #FF5841;
  position: relative;
  /* top: 10px; */
  padding: 1rem;
  text-align: left;
}

.signup-box h1 {
  margin: 0;
  padding-left: 4rem;
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
}

.signup-box p {
  margin: 0;
  font-size: 18px;
  padding-left: 4rem;
  margin-top: 1rem;
}

.inputdatasignin {
  padding-left: 4rem;
}
/* 
.inputdatasignin .MuiTextField-root {
  width: 80%;
} */

.btn-signup {
  width: 70% !important;
  left: 1rem;
  height: 50px;
  padding: 19px, 0px, 20px, 0px;
  gap: 8px;
  background: linear-gradient(0deg, #62D2E9, #62D2E9);
  top: 2rem;
  border-radius: 50px !important;
}

.dont-have-account {
  margin-top: 1rem;
  font-size: 20px;
  margin-left: 13%;
}

.signuplink {
  color: #62D2E9;
  font-size: 20px;
}

.signup-box .MuiButton-root {
  margin-top: 1rem;
  background-color: #FF5841;
  color: #fff;
}

.signup-box .MuiTypography-body2 a {
  text-decoration: none;
  color: rgb(112, 106, 106);
}

.app-signin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 500px) {
  .dont-have-account {
    margin-left: 0;
  }

  .or {
    text-align: center;
    margin-left: 0;
    margin-top: 2rem;
  }

  .gogleimg {
    margin-right: 0;
    margin-top: 1rem;
  }
}