.for-passwordrecovery {
    font-size: 1rem !important;
    font-family: 'Outfit';
    font-size: 1rem;
    font-weight: 600;
    margin-right: 18rem !important;
    margin-top: 1rem !important;
    color: #4F4F4F;
}
@media (max-width: 1000px) {
    .for-passwordrecovery{
      margin-right: 10rem !important;
    }
}
@media (max-width: 400px) {
    .for-passwordrecovery{
      margin-right: 6rem !important;
    }
    .sentemail{
        font-size: 1.7rem !important;
        font-weight: bold;
      }
    
}