.leftside {
  position: relative;
  width: 40%;
  height: 97vh;
  background-color: #FF8C7D;
  margin-top: 14px;
  margin-left: 21px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.spokyheading h1{
  position: absolute;
  font-family: "Outfit";
  font-weight: 400;
  font-size: 33px;
  margin: 0;
  color: #fff;
  top: 5%;
  text-align: left;
  /* margin-right: 12rem; */
  left: 20%;

}
/* .chatbotheading h1 {
  margin: 0;
  margin-top: 1rem;
  text-align: left;
  margin-right: 12rem;
} */

.chatbotheading h1 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 1rem;
  position: absolute;
  top:17%;
  left:20%;
  font-size: 3rem;
  font-family: "Outfit";  
  color: #fff;

}

.chatbotheading h1 span {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

.chatbot-image-container {
  text-align: center;
  margin-top: 1rem;
  position: absolute;
  bottom: 3%;
}

.chatbot-image {
  max-width: 100%;
  vertical-align: middle;
}

@media (max-width: 1700px) {
  .chatbotheading h1{
top: 12%;
  }
}

@media (max-width:1285px){

  .chatbot-image{
    width: 90%;
  }
}
@media (max-width: 1180px) {
  .chatbotheading h1{
top: 25%;
left: 6%;
}
.spokyheading h1{
  left: 6%;
}
}
@media (max-width: 1024px) {
  .leftside {
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .chatbotheading h1{
    top: 15%;
    left: 29%;
  }
  /* .spokyheading h1{
    left: 29%;
  } */
  body {
    margin: 0;
    padding: 0;
  }

  .chatbot-image-container {
    bottom: 10px;
  }

  .spokyheading {
    position: absolute;
    top: 10px; 
    left: 28%; 
    margin: 0; 
    margin-top: 2rem;
  }

  .chatbot-image {
    max-width: 80%;
  }
}

@media (max-width: 1181px) {
  .chatbotheading h1 {
    top:16%;
  }

}

@media (max-height: 780px) {

  .chatbot-image{
    width: 70%;
  }

}



@media (max-width: 1181px) {
  .chatbotheading h1 {
    top:16%;
  }
  

}
@media (max-width: 855px) {
  .chatbotheading h1 {
    left:25%;
  }
    .spokyheading {
      left:25%;

    }


}
@media (max-width: 685px) {
  .chatbotheading h1 {
    left:20%;
  }
  .spokyheading {
    left:20%;

  }
}
@media (max-width: 619px) {
  .chatbotheading h1 {
    left:15%;
  }
  .spokyheading {
    left:15%;

  }
}
@media (max-width: 500px) {
  .chatbotheading h1{
    margin-right: 2rem;
  }
 
}
/* @media (max-width:380px) {
  .chatbotheading{
    font-size: 1px !important; 
  }
} */
