
.recoverpwd-container {
    margin-top: 16rem !important;
    width: 60%;
    
  }
  
  .recoverpwd-box {
    width: 640px;
    height: 400px !important;
    border-radius: 35px;
    border: 1px solid #FF5841;
    position: relative;
    padding: 1rem;
    text-align: left; 
  }
  
  .recoverpwd-box h1 {
    margin: 0;
      padding-left: 4rem;
      margin-top: 3rem;
  }
 
  .btn-signup{
  width: 30rem;
  left: 4rem;
  height: 50px;
  padding: 19px, 0px, 20px, 0px;
  gap: 8px;
  background: linear-gradient(0deg, #62D2E9, #62D2E9);
  top: 2rem;
  border-radius: 50px !important;
  }
 
  
  .signin-box .MuiTypography-body2 a {
    text-decoration: none;
    color: rgb(112, 106, 106);
  
  }
  
  .recoverpwdapp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center; 
  }
  @media (max-width: 1000px) {
    .recoverpwdapp {
      flex-direction: column; 
    }
  }