.pwd-container {
  width: 90%;
  /* margin: 12rem auto; */
}

.pwd-box {
  width: 97%;
  /* max-width: 640px; */
  height: auto;
  border-radius: 35px;
  border: 1px solid #FF5841;
  position: relative;
  padding: 1rem;
  text-align: left;
}

.pwd-box h1 {
  margin: 0;
  padding-left: 2rem;
  margin-top: 2rem;
  font-family: 'Outfit';
  color: #4F4F4F;
  font-weight: 600;
  margin-bottom: 1rem;
}

.btn-signupupdate {
  width: 81%;
  left: 2rem;
  /* max-width: 30rem; */
  height: 50px;
  background: linear-gradient(0deg, #62D2E9, #62D2E9);
  border-radius: 50px !important;
  margin-bottom: 4rem !important;
  margin-top:3rem !important;
}
.btn-rcoverupddate{
  width: 81%;
  left: 2rem;
  /* max-width: 30rem; */
  height: 50px;
  background: linear-gradient(0deg, #62D2E9, #62D2E9);
  border-radius: 50px !important;
  margin-bottom: 4rem !important;
  margin-top:3rem !important;
}
.btn-update {
  width: 100%;
  max-width: 28rem;
  left: 2rem;
  height: 50px;
  margin-top: 3rem !important;
  background: linear-gradient(0deg, #62D2E9, #62D2E9);
  border-radius: 50px !important;
  margin-bottom: 4rem !important;
}
.btn-updatepaswword{
  width: 81%;
  left: 2rem;
  /* max-width: 30rem; */
  height: 50px;
  background: linear-gradient(0deg, #62D2E9, #62D2E9);
  border-radius: 50px !important;
  margin-bottom: 4rem !important;
  margin-top:3rem !important;

}
.label-text {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Outfit';
  font-weight: 500;
}

.responsive-input {
  width: 85%;
  max-width: 28rem;
  overflow: hidden;
  white-space: nowrap;

  /* text-overflow: ellipsis; */
}

.passwordapp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 1000px) {
  .passwordapp {
    flex-direction: column;
  }

  .pwd-box {
    margin-bottom: 1rem;
  }
}

/* Responsive styles for smaller screens */
@media (max-width: 1000px) {
  .pwd-container {
    width: 90%;
  }

  .pwd-box {
    padding: 0.5rem;
  }

  .label-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .pwd-container {
    width: 95%;
  }

  .label-text {
    font-size: 0.8rem;
  }

 
}
@media (max-width: 530px) {
 .btn-signupupdate {
    width: 80%;
    left: 2rem;
  }
}
